body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
main{
    border-radius: 5px;
    margin-top: 3rem;
    box-shadow: 0px 0px 10px 1px black;
    background: #24353f;
    width: 60%;
    
}
a, a:visited , a::selection , a:hover{
 color: white;
  
}
.form-container{
     width: 80%;
}
@media (max-width : 750px){
    h1{
        font-size: 2rem;
    }
    main{
        width: 90%;
   }
} 
.form-control{
    color: white;
    background-color: transparent; 
    margin-bottom: 5px;   
}

.unvalidinput , .unvalidinput:focus{
    color: rgb(201, 14, 14);
    border: 1px solid rgb(201, 14, 14) ; 
}
small{
    background-color:   transparent;
    overflow: hidden;
    display: flex;
    height: auto;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid;
}
.fa-exclamation-circle{
    margin-right:5px;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #ffffffde;
}

/* home page styling **/